html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: sans-serif;
    font-family: RobotoRegular, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../assets/bg.jpg);
   
}
*{
    box-sizing: border-box;
}
h1,h2{
    text-align: center;
}
.modal-header {
    background-color: #2BCAD2;
  }
  .modal-body p img {
    max-width: 400px;
  }
h1{
    font-size: 80px;
    color:#313131;   
    font-family: RobotoLight, sans-serif; 
    margin-bottom: 0px;
    line-height: 1;
}
h2{
    margin: 0;
    font-family: RobotoRegular, sans-serif; 
    font-size: 30px;
    color:#313131;   
    margin-bottom: 50px;
}
header{
    display: none;
    position: relative;
    width: 100vw;
    height: 80px;     
    background-color: #359ED8;  
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
    background-image: url(../img/bg-topo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1280px 94px
}
header #titulo{
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto
}
header #titulo #logo{
    position: absolute;
    right: 10px;
    top: Calc(50% - 23px)
}

header h1{
    font-size: 1.4rem;
    color:white;
    text-align: left;
    margin: 0;
    padding: 22px;
}

section#main{
    width:100%;
    max-width: 1000px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

#loadingScreen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    flex-flow: column;
    font-family: 'Roboto', sans-serif
}

#main h1{
    /*font-family: 'Pacifico', sans-serif;*/
    font-size:4.16vw;
    /*
    color: #AF6ADB;*/
    /* somente webkit*/
    /*
    background: -webkit-linear-gradient(left, #FF1C89, #BD7FE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    margin-bottom: 3vh;
    margin-top: 2vh;
}
#main h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:#313131;
    margin-bottom: 30px
}
.msg-acessivel{
    position: absolute;
    font-size: 1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: 1px;
    left: 1px;
    color: transparent;
}

.btn.btn-primary.btn-lg:hover {
    opacity: 0.5;
    
}
.btn.btn-primary.btn-lg:active {
    opacity: 1;

}

.btn.btn-primary.btn-lg {
    max-width: 300px;
    width: 100%;
    background-color: #00d6e1;
    border-color: #00d6e1;
    box-shadow: 0 7px 0px #00c3ca;
  }

  .modal-title {
    color: white;
  }

/*
*{
    border:1px solid magenta
}
*/